<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <div id="root">
        <form action="" class="container_center" method="POST">
            <h1>Đăng Ký</h1>
            <div id="choice_wrapper">
                First Name: <br>
                <input class="input_choice" name="fist_name" placeholder="firstname" type="text"> <br>
                Last Name: <br>
                <input class="input_choice" name="last_name" placeholder="lastname" type="text"> <br>
                Email: <br>
                <input class="input_choice" name="email" placeholder="mail" type="text"> <br>
                Yob: <br>
                <input class="input_choice" name="yob" placeholder="Year" type="text"> <br>
                Gender: <br>
                <input class="input_choice" name="gender" placeholder="gender" type="text"> <br>
                City: <br>
                <input class="input_choice" name="city" placeholder="Hanoi" type="text">
            </div>
            <button id="btn_submit_poll">Submit</button>
        </form>
    </div>
    
</body>
</html>